body {
  color: blue;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

section {
  background-color: cornflowerblue;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 0%;
  margin-top: 0%;
}

/*ul.labels {
  list-style-type: none;
  padding-left: 0;
  float: left;
  display: inline-block;
}*/

ul {
  list-style-type: none;
  padding-left: 0;
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: inline-block;
  /*border: solid black 1px;*/
  list-style-type: none;
  padding-left: 0;
  }

li {
  margin-right: 0;
  background-color: lightgray;
  border: solid black 1px;
  height: 5em;
  width: auto;
}

ul:nth-child(odd) li:nth-child(odd) {
  background-color: gray;
}

ul:nth-child(even) li:nth-child(even) {
  background-color: gray;
}
